@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply hidden fixed left-0 sm:flex flex-col justify-between h-screen  sm:w-48 lg:w-56 xl:w-72 pb-5 pt-3 pl-8;
}
.root-container {
  @apply w-full  py-0 flex-1 overflow-auto  lg:mt-0 min-h-screen;
}

.dashboardRoot {
  @apply border-red-300 border-dotted;
}

.darkMode {
  @apply bg-zinc-800;
}

.darkModeSecond {
  @apply bg-zinc-700;
}
.navComponentDark {
  @apply bg-zinc-100/20;
}
.navComponentLight {
  @apply bg-stone-300/70;
}

.appColor {
  @apply bg-purple-900/70;
}
.appColorDark {
  @apply bg-gradient-to-tr from-purple-800 to-purple-200;
}

h3 {
  @apply text-gray-800 font-bold text-lg;
  font-family: "SF Pro Display", sans-serif;
}

.board-col .add-task-btn {
  opacity: 0;
}
.board-col:hover .add-task-btn {
  opacity: 1;
}
